@using Microsoft.AspNetCore.Localization
@using Semp.Infrastructure

@inject IViewLocalizer Localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var availableCultures = GlobalConfiguration.SimpleCultures;
}

@if (availableCultures.Count() > 1)
{
<li class="nav-item dropdown">    
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Language (@requestCulture.RequestCulture.UICulture.Name)
    </a>    
    <div class="dropdown-menu lang-selector" aria-labelledby="navbarDropdown">
        @foreach (var lang in availableCultures)
        {
            if (lang.Id == requestCulture.RequestCulture.UICulture.Name)
            {
                <a class="dropdown-item active" href="javascript:void(0)" data-value="@lang.Id">                    
                    @lang.Name <i class="fas fa-check" aria-hidden="true"></i>                    
                </a>
            }
            else
            {
                <a class="dropdown-item" href="javascript:void(0)" data-value="@lang.Id">                    
                    @lang.Name                    
                </a>
            }
        }
    </div>
    <form asp-controller="Localization" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
          method="post" id="lang-form" role="form">
        <input type="hidden" name="culture" value="@requestCulture.RequestCulture.UICulture.Name" />
    </form>
</li>
}
