@model Semp.Module.Integrator.ViewModels.OrderSelecionViewModel

@{
    ViewData["Title"] = Localizer["Order Errors"];
}

<div class="card mb-3">
    <div class="card-header d-flex align-items-center">
        <span style="" class="mr-3 icon ion-md-copy h1"></span>
        <div class="lh-100 flex-grow-1">
            <h4 class="mb-0 lh-100 ng-binding">@Localizer["Order Errors"]</h4>
            <small class="text-muted">Errors in order integration</small>
        </div>
    </div>
    <div class="card-body">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkall">
            <label class="custom-control-label" for="checkall">@Localizer["Check All"]</label>
        </div>
    </div>
    @using (Html.BeginForm("submit-selected", "Order", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
    {
        <div class="card-body p-0 table-responsive">
            <div id="checkboxes">
                <table class="table table-striped m-0 order-history">
                    <!--
                        Id
                        ORDER_TYPE
                        PEDIDO_LEGADO
                        LOTE_ATENDIMENTO
                        UPDATE_TIME_SAP
                        ERRO
                        CNPJ
                        Cliente
                    -->
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Localizer["Type"]</th>
                            <th>@Localizer["Order Legacy"]</th>
                            <th>@Localizer["Attendance"]</th>
                            <th>@Localizer["Send Date"]</th>
                            <th>@Localizer["Error"]</th>
                            <th>@Localizer["Document"]</th>
                            <th>@Localizer["Client"]</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.EditorFor(model => model.Order)
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card-body">
            <input type="submit" name="operation" id="submit" value="@Localizer["Resend Selected"]" class="btn btn-primary" />
        </div>
    }
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>

    <script type="text/javascript">

        function toggleChecked(status) {
            $("#checkboxes input").each(function () {

                // Set the checked status of each to match the
                // checked status of the check all checkbox:
                $(this).prop("checked", status);
            });
        }

        $(document).ready(function () {

            //Set the default value of the global checkbox to true:
            $("#checkall").prop('checked', false);

            // Attach the call to toggleChecked to the
            // click event of the global checkbox:
            $("#checkall").click(function () {
                var status = $("#checkall").prop('checked');
                toggleChecked(status);
            });
        });

        $('body').on('click', '.btn-resend-order', function (e) {
            var $form = $(this).closest("form"),
                $orderId = $(this).data('id');
            /*$quantityInput = $form.find('.quantity-field');*/

            $.ajax({
                type: 'POST',
                url: '/api/integrator/order/resend-confirmation/' + $orderId,
                data: JSON.stringify({ id: $orderId }),
                contentType: "application/json"
            }).done(function (data) {
                $('#shopModal').find('.modal-content').html(data);
                $('#shopModal').modal('show');
                //$('.cart-badge .badge').text($('#shopModal').find('.cart-item-count').text());
            }).fail(function (e) {
                /*jshint multistr: true */
                $('#shopModal').find('.modal-content').html(' \
                        <div class="modal-header"> \
                            <h5 class="modal-title" id="myModalLabel">Opps!</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                <span aria-hidden="true"></span> \
                            </button > \
                        </div> \
                        <div class="modal-body"> \
                            Erro ao reenviar pedido. \
                        </div>');
                $('#shopModal').modal('show');
            });
        });

    </script>
}