@model Semp.Module.Integrator.ViewModels.OrderDetailVm

<tr>
    <td>
        @if (Model.Id != null)
        {
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(model => model.Selected, new { @class = "custom-control-input", style = "display:none;" })
                @Html.LabelFor(c => c.Selected, "", new { @class = "custom-control-label", style = "display:block;" })
            </div>
        }
    </td>
    <td>
        @Html.DisplayFor(model => model.OrderType)
    </td>
    <td>
        @Html.DisplayFor(model => model.OrderLegacy)
    </td>
    <td>
        @Html.DisplayFor(model => model.Attendence)
    </td>
    <td>
        @Html.DisplayFor(model => model.UpdateTimeSap)
    </td>
    <td>
        @Html.DisplayFor(model => model.Error)
    </td>
    <td>
        @Html.DisplayFor(model => model.DocumentNumber)
    </td>
    <td>
        @Html.DisplayFor(model => model.ClientName)
    </td>

    <td>
        @if (Model.Id != null)
        {
            @Html.HiddenFor(model => model.Id)
            @Html.ActionLink(@Localizer["Resend"]?.Value ?? "Resend", "resend", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
        }
    </td>
</tr>