@model Semp.Module.Integrator.ViewModels.OrderDetailVm

<tr>
    <td>
        @if (Model.Id != null)
        {
            <div class="custom-control custom-checkbox">
                @Html.CheckBoxFor(model => model.Selected, new { @class = "custom-control-input", style = "display:none;" })
                @Html.LabelFor(c => c.Selected, "", new { @class = "custom-control-label", style = "display:block;" })
            </div>
        }
    </td>
    <td>
        @Html.DisplayFor(model => model.OrderType)
    </td>
    <td>
        @Html.DisplayFor(model => model.OrderLegacy)
    </td>
    <td>
        @Html.DisplayFor(model => model.Attendence)
    </td>
    <td>
        @Html.DisplayFor(model => model.UpdateTimeSap)
    </td>
    <td>
        @Html.DisplayFor(model => model.Error)
    </td>
    <td>
        @Html.DisplayFor(model => model.DocumentNumber)
    </td>
    <td>
        @Html.DisplayFor(model => model.ClientName)
    </td>

    <td>

        @if (Model.Id != null)
        {
            @Html.HiddenFor(model => model.Id)
            <a href="javascript:void(0);" id="resend"
                    data-id="@Model.Id"
                    class="btn btn-primary btn-sm btn-resend-order">
                @Localizer["Resend"]
            </a>
            @*
                @using (Html.BeginForm("Resend", "Order", FormMethod.Post, new { encType = "multipart/form-data", name = "resendForm" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    @* @Html.ActionLink(@Localizer["Resend"]?.Value ?? "Resend", "resend", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
                    <input type="submit" name="operation" id="submit" data-id="@Model.Id" value="@Localizer["Resend"]" class="btn btn-primary btn-sm btn-resend-order" />
                }
            *@
        }
        else
        {
            @Html.HiddenFor(model => model.Id)
            <a href="javascript:void(0);" id="release"
                    data-orderLegacy="@Model.OrderLegacy"
                    data-orderType="@Model.OrderType"
                    data-orderIssue="@Model.OrderIssue"
                    class="btn btn-success btn-sm btn-release-order">
                @Localizer["Release"]
            </a>
        }
    </td>
</tr>